language: python
python:
  - '2.7'


# Use the new container-based infrastructure. No "sudo" is possible now.
sudo: false


# Cache the .mbs folder.
cache:
  directories:
    - $HOME/.mbs
    - $HOME/.ant/lib


# This is the command to build the whole project and pack the results in a distributable form.
script:
  - python mbs/mbs
